body {
  background-image: url("../assets/background.png");
  background-color: desaturate($crimson, 20%);
  color: white;
}

p {
  text-align: justify;
}

.layer {
  background-color: rgba(200, 200, 200, 0.7);
}

.drop-pad {
  border-width: 0px 1px;
  border-color: $blue;
  border-style: solid;
  border-bottom: 1px $amber solid;
  padding: 0px;
  img {
    width: 100%;
  }
}

.main {
  padding-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  border-width: 0px 1px;
  border-color: $blue;
  border-style: solid;
  background: $crimson;
  height: 100%;
  min-height: 1080px;
}

.anuncio {
  text-align: center;
  font-size: 1.5em;
  padding: 50px;
}

footer {
  background: $crimson;
  border-top: 1px solid $blue;
}

a {
  font-weight: bold;
  &, &:visited {
    color: $amber;
  }
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.title {
  color: $cyan;
  padding: 50px;
  font-size: 6em;
  text-align: center;
}

table {
  margin-bottom: 20px;
  width: 100%;
}

th, td {
  border: 1px solid $amber;
  padding: 8px;
  padding-bottom: 5px;
  min-width: 80px;
}

.bg-emph {
  background-color: $blue;
}
